{%- with messages = get_flashed_messages(with_categories=true) -%}
  {% if messages %}
    <ul class="flashes">
    {% for category, message in messages %}
        {% if category == "error" %}
            <div class="alert alert-danger">{{ message }}</div>
        {% elif category == "notice" or category == "info" %}
            <div class="alert alert-info">{{ message }}</div>
        {% else %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
{%- endwith %}