{% extends "base.html" %}

{% block body %}


{% include "messages.html" %}



<h1>{{ type }} Changes</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>No.</th>
            <th>Changeset</th>
            <th>Author</th>
            <th>Created</th>
            <th>Bookmark</th>
        </tr>
        </thead>
        <tbody>

        {% for r in reviews %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="{{ url_for("changeset_info", review=r.id) }}">{{ r.title }} </a></td>
                <td>{{ r.owner }}</td>
                <td>{{ r.created_date }}</td>
                <td>{{ r.bookmark }}</td>
            </tr>
        {% endfor %}
        </tr>
        </tbody>
    </table>




{% endblock %}