{% extends "base.html" %}

{% block body %}


{% include "messages.html" %}



<h1>{{ type }} Changes</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>No.</th>
            <th>Changeset</th>
            <th>Author</th>
            <th>Bookmark</th>
        </tr>
        </thead>
        <tbody>

        {% for br in heads %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ br.desc }} <span class="">(<a href="{{ url_for("changeset_info", changeset=br.changeset) }}">{{ br.changeset }}</a>)</span></td>
                <td>{{ br.author }}</td>
                <td>{{ br.bookmarks }}</td>
            </tr>
        {% endfor %}
        </tr>
        </tbody>
    </table>




{% endblock %}