{% extends "base.html" %}

{% block body %}


    {% include "messages.html" %}

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Review <b>{{ review.title }}</b></h3>
            </div>
            <div class="panel-body">
                <div><span class="col-lg-2 text-right">Title</span><span><b>{{ review.title }}</b></span></div>
                <div><span class="col-lg-2 text-right">Owner</span><span>{{ review.owner }} (<a
                        href="mailto:{{ review.owner_email }}">{{ review.owner_email }}</a>)</span></div>
                <div><span class="col-lg-2 text-right">Created</span><span>{{ review.created_date }}</span></div>
                {% if review.close_date is not none %}
                    <div><span class="col-lg-2 text-right">Closed</span><span>{{ review.close_date }}</span></div>
                {% endif %}
                <div><span class="col-lg-2 text-right">Bookmark</span><span>{{ review.bookmark }} &nbsp;</span></div>
                <div><span class="col-lg-2 text-right">Status</span>
                    {% if review.status == "OPEN" %}
                        <span class="label label-success">
                    {% elif review.status == "MERGED" %}
                        <span class="label label-default">
                    {% else %}
                        <span class="label">
                    {% endif %}
                    {{ review.status }}
                    </span>
                </div>
            </div>
        </div>


    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        {% for r in review.changesets %}
          <li class="{% if loop.first %} active {% endif %}"><a href="#patchset-{{ r.id }}" data-toggle="tab">Patchset {{ loop.revindex }}</a></li>
        {% endfor %}
    </ul>
    <br/>
    <!-- Tab panes -->
    <div class="tab-content">
    {% for r in review.changesets %}
        <div class="tab-pane {% if loop.first %} active {% endif %}" id="patchset-{{ r.id }}">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Changeset <b>{{ r.title }}</b> (rev {{ r.revision }})</h3>
            </div>
            <div class="panel-body">
                <div><span class="col-lg-2 text-right">Title</span><span><b>{{ r.title }}</b></span></div>
                <div><span class="col-lg-2 text-right">Owner</span><span>{{ r.owner }} (<a
                        href="mailto:{{ r.owner_email }}">{{ r.owner_email }}</a>)</span></div>
                <div><span class="col-lg-2 text-right">Created</span><span>{{ r.created_date }}</span></div>
                <div><span class="col-lg-2 text-right">SHA1</span><span>{{ r.sha1 }}</span></div>
                <div><span class="col-lg-2 text-right">Bookmark</span><span>{{ r.bookmark }}</span></div>
                <div><span class="col-lg-2 text-right">Revision</span><span>{{ r.revision }}</span></div>
            </div>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Jenkins builds</h3>
            </div>
            <div class="panel-body">
                <form method="post" action="{{ url_for("jenkins_build") }}">
                    <input type="hidden" name="src" value="{{ r.sha1 }}"/>
                    <input type="hidden" name="back_id" value="{{ review.id }}"/>
                    <button class="btn btn-sm btn-success" type="submit"><span class="glyphicon glyphicon-plus"></span>
                        Run Jenkins
                        build
                    </button>
                </form>
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Build No</th>
                        <th>Scheduled</th>
                        <th>Url</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for b in r.builds %}
                        <tr>
                            <td>{{ b.build_number }}</td>
                            <td>{{ b.scheduled }}</td>
                            <td><a target="_blank" href="{{ b.build_url }}">{{ b.build_url }}</a></td>
                            <td>
                                {% if b.status == "SUCCESS" %}
                                    <span class="label label-success">
                                {% elif b.status == "FAILURE" %}
                                    <span class="label label-danger">
                                {% else %}
                                    <span class="label label-default">
                                {% endif %}
                                {{ b.status }}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">CodeCollaborator inspections</h3>
            </div>
            <div class="panel-body">
                <form method="post" action="{{ url_for("inspect_diff") }}">
                    <input type="hidden" name="src" value="{{ r.sha1 }}"/>
                    <input type="hidden" name="back_id" value="{{ review.id }}"/>
                    <button class="btn btn-sm btn-info" type="submit"><span class="glyphicon glyphicon-plus"></span> New
                        inspection
                    </button>
                </form>
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Inspection No</th>
                        <th>Inspection URL</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in r.inspections %}
                        <tr>
                            <td>{{ i.inspection_number }}</td>
                            <td><a target="_blank" href="{{ i.inspection_url }}">{{ i.inspection_url }}</a></td>
                            <td>
                                {% if i.status == "SUCCESS" %}
                                    <span class="label label-success">
                                {% elif i.status == "FAILURE" %}
                                    <span class="label label-danger">
                                {% else %}
                                    <span class="label label-default">
                                {% endif %}
                                {{ i.status }}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Administrative operations</h3>
            </div>
            <div class="panel-body">
                {# merge #}
                <form method="post" class="form-horizontal" action="{{ url_for("merge_from_post") }}">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Merge this changeset with branch</label>
                        <input type="hidden" name="src" value="{{ r.revision }}">
                        <div class="col-sm-2">
                            <select id="inputEmail3" class="form-control" name="dst">
                                {% for pb in productBranches %}
                                    <option value="{{ pb }}">{{ pb }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button class="btn btn-danger btn-sm" type="submit"><span
                                class="glyphicon glyphicon-check"></span> merge
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>

<script>
$(function() {



});
</script>

{% endblock %}