{% extends "base.html" %}

{% block body %}


    {% include "messages.html" %}





    {% for r in reviews %}

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Review for <b>{{ r.title }}</b> ({{ r.sha1 }})</h3>
            </div>
            <div class="panel-body">
                <div><span class="col-lg-2 text-right">Title</span><span><b>{{ r.title }}</b></span></div>
                <div><span class="col-lg-2 text-right">Owner</span><span>{{ r.owner }} (<a href="mailto:{{ r.owner_email }}">{{ r.owner_email }}</a>)</span></div>
                <div><span class="col-lg-2 text-right">Created</span><span>{{ r.created_date }}</span></div>
                <div><span class="col-lg-2 text-right">SHA1</span><span>{{ r.sha1 }}</span></div>
            </div>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Builds</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Build No</th>
                        <th>Scheduled</th>
                        <th>Url</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for b in r.builds %}
                        <tr>
                            <td>{{ b.build_number }}</td>
                            <td>{{ b.scheduled }}</td>
                            <td><a target="_blank" href="{{ b.build_url }}">{{ b.build_url }}</a> </td>
                            <td>
                                {% if b.status == "SUCCESS" %}
                                    <span class="label label-success">
                                {% elif b.status == "FAILURE" %}
                                    <span class="label label-danger">
                                {% else %}
                                    <span class="label label-default">
                                {% endif %}
                                {{ b.status }}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">CodeCollaborator inspections</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Inspection No</th>
                        <th>Inspection URL</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in r.inspections %}
                        <tr>
                            <td>{{ i.inspection_number }}</td>
                            <td><a target="_blank" href="{{ i.inspection_url }}">{{ i.inspection_url }}</a> </td>
                            <td>
                                {% if i.status == "SUCCESS" %}
                                    <span class="label label-success">
                                {% elif i.status == "FAILURE" %}
                                    <span class="label label-danger">
                                {% else %}
                                    <span class="label label-default">
                                {% endif %}
                                {{ i.status }}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    {% endfor %}



{% endblock %}