{% extends "base.html" %}

{% block body %}


{% include "messages.html" %}

{% if form %}
    <form class="form-inline" role="form" method="GET" action="{{ url_for("changes_abandoned") }}">
        {# {{ form.hidden_tag() }}  #}
        <div class="form-group">
            <label class="sr-only" for="title">Author</label>
            <input type="text" class="form-control" name="title" id="title" value="{{ request.args.get('title', "") }}" placeholder="{{form.title.description}}">
        </div>
        <div class="form-group">
            <label class="sr-only" for="author">Author</label>
            <input type="text" class="form-control" name="author" id="author" value="{{ request.args.get('author', "") }}" placeholder="{{form.author.description}}">
        </div>
        <button type="submit" class="btn btn-default">Filter</button>
    </form>
{% endif %}


<h1>Abandoned changes</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>No.</th>
            <th>Changeset</th>
            <th>Author</th>
            <th>Abandoned</th>
            <th>Bookmark</th>
            <th>Target Branch</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>

        {% for r in reviews %}
            <tr>
                <td>{{ pagination.start_index + loop.index - 1 }}</td>
                <td>
                    <a href="{{ url_for("review_info", review_id=r.id) }}">{{ r.title }} </a>
                </td>
                {% if r.owner == "None" %}
                    <td>{{ r.owner }}</td>
                {% else %}
                    <td>{{ r.owner_email }}</td>
                {% endif %}
                <td>{{ utc_to_local(r.abandoned_date) }}</td>
                <td>{{ r.bookmark }}</td>
                <td>{{ r.target }}</td>
                <td>
                    <span class="label label-danger">ABANDONED</span>
                </td>
            </tr>
        {% endfor %}
        </tr>
        </tbody>
    </table>

    {% from "_helpers.html" import render_pagination %}
    {{ render_pagination(pagination) }}



{% endblock %}
