{% extends "base.html" %}

{% block body %}


{% include "messages.html" %}

{% if form %}
    <form class="form-inline" role="form" method="GET" action="{{ url_for("changes_active") }}">
        {# {{ form.hidden_tag() }}  #}
        <div class="form-group">
            <label class="sr-only" for="title">Author</label>
            <input type="text" class="form-control" name="title" id="title" value="{{ request.args.get('title', "") }}" placeholder="{{form.title.description}}">
        </div>
        <div class="form-group">
            <label class="sr-only" for="author">Author</label>
            <input type="text" class="form-control" name="author" id="author" value="{{ request.args.get('author', "") }}" placeholder="{{form.author.description}}">
        </div>
        <button type="submit" class="btn btn-default">Filter</button>
    </form>
{% endif %}


<h1>Active changes</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>No.</th>
            <th>Changeset</th>
            <th>Author</th>
            <th>Created</th>
            <th>Bookmark</th>
            <th>Target Branch</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>

        {% for r in reviews %}
            <tr>
                <td>{{ pagination.start_index + loop.index - 1 }}</td>
                <td>
                    <a href="{{ url_for("review_info", review_id=r.id) }}">{{ r.title }} </a>
                </td>
                {% if r.owner == "None" %}
                    <td>{{ r.owner }}</td>
                {% else %}
                    <td>{{ r.owner_email }}</td>
                {% endif %}
                <td>{{ utc_to_local(r.created_date) }}</td>
                <td>{{ r.bookmark }}</td>
                <td>{{ r.target }}</td>
                <td>
                    {% if r.active_changeset != None and r.active_changeset.builds|length > 0 %}
                        {% set build = r.active_changeset.builds[-1] %}
                        {% if build.status == "Running" %}
                            <span class="label label-info">{{ build.status }}</span>
                        {% elif build.status == "SUCCESS" %}
                            <span class="label label-success">{{ build.status }}</span>
                        {% elif build.status == "UNSTABLE" %}
                            <span class="label label-warning">{{ build.status }}</span>
                        {% elif build.status == "FAILURE" %}
                            <span class="label label-danger">{{ build.status }}</span>
                        {% else %}
                            <span class="label label-default">{{ build.status }}</span>
                        {% endif %}
                    {% else %}
                        <span class="label label-default">None</span>
                    {% endif %}
                    <br/>
                    {% if r.inspection == None %}
                        <span class="label label-default">None</span>
                    {% elif r.inspection.status == "Completed" %}
                        <span class="label label-success">{{ r.inspection.status }}</span>
                    {% elif r.inspection.status == "SCHEDULED" or r.inspection.status == "NEW" %}
                        <span class="label label-default">{{ r.inspection.status }}</span>
                    {% else %}
                        <span class="label label-warning">{{ r.inspection.status }}</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tr>
        </tbody>
    </table>

    {% from "_helpers.html" import render_pagination %}
    {{ render_pagination(pagination) }}



{% endblock %}
