{% extends "base.html" %}

{% block body %}


    {% include "messages.html" %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Review <b>{{ review.title }}</b></h3>
        </div>
        <div class="panel-body">
            <div><span class="col-lg-2 text-right">Title</span><span><b>{{ review.title }}</b></span></div>
            <div><span class="col-lg-2 text-right">Owner</span><span>{{ review.owner }} (<a
                    href="mailto:{{ review.owner_email }}">{{ review.owner_email }}</a>)</span></div>
            <div><span class="col-lg-2 text-right">Created</span><span>{{ review.created_date }}</span></div>
            {% if review.close_date is not none %}
                <div><span class="col-lg-2 text-right">Closed</span><span>{{ review.close_date }}</span></div>
            {% endif %}
            <div><span class="col-lg-2 text-right">Bookmark</span><span>{{ review.bookmark }} &nbsp;</span></div>
            <div><span class="col-lg-2 text-right">Status</span>
                {% if review.status == "ACTIVE" %}
                    <span class="label label-success">
                {% elif review.status == "ABANDONED" %}
                    <span class="label label-danger">
                {% elif review.status == "MERGED" %}
                    <span class="label label-default">
                {% else %}
                    <span class="label label-info">
                {% endif %}
                {{ review.status }}
                </span>

            </div>
            <div><span class="col-lg-2 text-right">Target branch</span><span>
                    {{ review.target }}
                </span></div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-6">
          {% if prev %}
              <a href="{{ url_for("changeset_info", cs_id=prev.id) }}" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> previous changeset</a>
          {% endif %}
      </div>
      <div class="col-md-6" style="text-align: right">
          {% if next %}
              <a href="{{ url_for("changeset_info", cs_id=next.id) }}" class="btn btn-primary">next changeset <span class="glyphicon glyphicon-arrow-right"></span></a>
          {% endif %}
      </div>
    </div>
    <div class="row">&nbsp;</div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Changeset <b>{{ cs.title }}</b> <a class="btn-sm btn btn-default"
                                                                       href="{{ url_for("review_info", review_id=review.id) }}"><span
                    class="glyphicon glyphicon-home"></span> back to review</a></h3>
        </div>
        <div class="panel-body">
            <div><span class="col-lg-2 text-right">Title</span><span><b>{{ cs.title }}</b></span></div>
            <div><span class="col-lg-2 text-right">Owner</span><span>{{ cs.owner }} (<a
                    href="mailto:{{ cs.owner_email }}">{{ cs.owner_email }}</a>)</span></div>
            <div><span class="col-lg-2 text-right">Created</span><span>{{ cs.created_date }}</span></div>
            <div><span class="col-lg-2 text-right">SHA1</span><span><code>{{ cs.sha1 }}</code>&nbsp;</span></div>
            <div><span class="col-lg-2 text-right">Bookmark</span><span>{{ cs.bookmark }}&nbsp;</span></div>
            <div><span class="col-lg-2 text-right">Status</span>

                {% if cs.status == "ACTIVE" %}
                    <span class="label label-success">
                {% elif cs.status == "ABANDONED" %}
                    <span class="label label-danger">
                {% else %}
                    <span class="label label-info">
                {% endif %}
                {{ cs.status }}
                </span>
            </div>
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Jenkins builds <a class="btn-sm btn btn-default"
                                                      href="{{ url_for("review_info", review_id=review.id) }}"><span
                    class="glyphicon glyphicon-home"></span> back to review</a></h3>
        </div>
        <div class="panel-body">
            <form method="post" action="{{ url_for('jenkins_build', cs_id=cs.id) }}">
                <input type="hidden" name="release" value="{{ review.target }}"/>

                {% if cs.status != "ABANDONED" and cs.review.status != "ABANDONED" %}
                <div class="form-group">
                    <input type="hidden" name="src" value="{{ cs.revision }}">
                    <button class="btn btn-sm btn-success" type="submit"><span class="glyphicon glyphicon-plus"></span>
                        Run Jenkins
                        build
                    </button>
                </div>
                {% endif %}
            </form>
            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th>Build No</th>
                    <th>Scheduled</th>
                    <th>Url</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for b in cs.builds %}
                    <tr>
                        <td>{{ b.build_number }}</td>
                        <td>{{ b.scheduled }}</td>
                        <td><a target="_blank" href="{{ b.build_url }}">{{ b.build_url }}</a></td>
                        <td>
                            {% if b.status == "Running" %}
                                <span class="label label-info">
                            {% elif b.status == "SUCCESS" %}
                                <span class="label label-success">
                            {% elif b.status == "UNSTABLE" %}
                                <span class="label label-warning">
                            {% elif b.status == "FAILURE" %}
                                <span class="label label-danger">
                            {% else %}
                                <span class="label label-default">
                            {% endif %}
                            {{ b.status }}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">CodeCollaborator inspections <a class="btn-sm btn btn-default"
                                                                    href="{{ url_for("review_info", review_id=review.id) }}"><span
                    class="glyphicon glyphicon-home"></span> back to review</a></h3>
        </div>
        <div class="panel-body">
            {% if cs.diff is none %}
            {% if cs.review.status != "ABANDONED" and cs.is_active and cs.review.target is not none %}
            {# TODO: Should display popup window about irreversibility of creating new CI. Target cannot be changed. #}
            <form method="post" action="{{ url_for("inspect_diff", cs_id=cs.id) }}">
                <button class="btn btn-sm btn-info" type="submit"><span class="glyphicon glyphicon-plus"></span> New
                    inspection
                </button>
            </form>
            {% endif %}
            {% else %}
            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th>Inspection No</th>
                    <th>Inspection URL</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ cs.review.inspection.number }}</td>
                        <td>
                            <a target="_blank" href="{{ cs.review.inspection.url }}">
                                {{ cs.review.inspection.url }}
                            </a>
                        </td>
                        <td>
                            {% if cs.diff.status == "UPLOADED" %}
                                <span class="label label-success">
                            {% else %}
                                <span class="label label-default">
                            {% endif %}
                            {{ cs.diff.status }}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>

    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Administrative operations</h3>
        </div>
        <div class="panel-body">
            {# merge #}
            {% if cs.status != "ABANDONED" and cs.review.status != "ABANDONED" %}
            {# TODO: Should display popup window about irreversibility of merge. #}
                <div>
                    <form method="post" class="form-horizontal" action="{{ url_for("merge_branch", cs_id=cs.id) }}">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Merge this changeset with "{{ review.target }}"
                                branch</label>
                            <button class="btn btn-danger btn-sm" type="submit"><span
                                    class="glyphicon glyphicon-check"></span> merge
                            </button>
                        </div>
                    </form>
                </div>

                <div>
                    <form class="form-horizontal" method="post"
                          action="{{ url_for("review_abandon", review_id=review.id) }}">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Abandon this review</label>
                            <button class="btn btn-danger btn-sm confirmation-needed"
                                    data-question="Are you sure you want to ABANDON this review?" type="submit"><span
                                    class="glyphicon glyphicon-trash"></span> Abandon
                            </button>
                        </div>
                    </form>
                </div>
            {% else %}
                This changeset is abandoned.
            {% endif %}
        </div>
    </div>

{% endblock %}





{% block more_js %}
    <script>
        $(function () {

            {% if prev %}
                $(document).bind('keypress', 'left', function () {
                    window.location.href = "{{ url_for("changeset_info", cs_id=prev.id) }}";
                });
            {% endif %}
            {% if next %}
                $(document).bind('keypress', 'right', function () {
                    window.location.href = "{{ url_for("changeset_info", cs_id=next.id) }}";
                });
            {% endif %}
            $(document).bind('keypress', 'home', function () {
                window.location.href = "{{ url_for("review_info", review_id=cs.review_id) }}";
            });

        });
    </script>

{% endblock %}
