{% extends "base.html" %}
{% block body %}

  <form action="" method=post align="left" class="form-horizontal">
    <h2 align="left"> User preferences </h2>
    <div><br/><br/></div>
        <div class="form-group">
            <label> Code Collaborator Login: </label>
          <input type="text" style="width: 250px" align="left" id="cc_login" name="cc_login" class="form-control"
            placeholder="{{ user.cc_login }}" value="{{ request.form.cc_login }}"
            required>
        </div>
    
        <div class="form-group">
            <label> Jira Login: </label>
          <input type="text" style="width: 250px" align="left" id="jira_login" name="jira_login" class="form-control"
            placeholder="{{ user.jira_login }}" value="{{ request.form.jira_login }}"
            required>
        </div>
 
        <div class="form-group">
            <label> Jira Password: </label>
          <input type="password" style="width: 250px" align="left" id="jira_password" name="jira_password" class="form-control"
            placeholder="Password" value="{{ request.form.jira_password }}"
            required>
        </div>
 
    <div class="form-group">
        <div class="form-horizontal">
          <button type="submit" align="left" class="btn btn-success" >Submit</button>
        </div>
    </div>
  </form>
{% endblock %}
