{% extends "base.html" %}
{% block body %}
  <form action="" method=post class="form-horizontal">
    <h2> Sign up for JIRA integration </h2>
    <div class="form-group">
        <div class="form-horizontal">
          <input type="text" id="jira_login" name="jira_login" class="input-xlarge"
            placeholder="Enter Jira Login" value="{{ request.form.jira_login }}"
            required>
        </div>
    </div>
 
    <div class="form-group">
        <div class="form-horizontal">
          <input type="password" id="jira_password" name="jira_password" class="input-xlarge"
            placeholder="Enter Jira Password" value="{{ request.form.jira_password }}"
            required>
        </div>
    </div>
 
    <div class="form-group">
        <div class="form-horizontal">
          <button type="submit" class="btn btn-success">Signup</button>
        </div>
    </div>
  </form>
{% endblock %}
