{% extends "base.html" %}

{% block body %}


{% include "messages.html" %}



<h2>Changes between revision {{start}} and {{stop}} </h2>

<table class="table table-hover">

    <thead>
        <tr>
            <th width="100px">JIRA</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>

    {% for ticket in jira_list %}
        <tr>
            <td>{{ ticket[0] }}</td>
            <td><pre>{{ ticket[1] }}</pre></td>
        </tr>
    {% endfor %}

    </tbody>
</table>


{% endblock %}
