{% extends "base.html" %}

{% block body %}


{% include "messages.html" %}

{% if form %}
    <form class="form-inline" role="form" method="GET" action="{% if mode == "merged" %}{{ url_for("changes_merged") }} {% else %}{{ url_for("changes_active") }}{% endif %}">
        {# {{ form.hidden_tag() }}  #}
        <div class="form-group">
            <label class="sr-only" for="title">Author</label>
            <input type="text" class="form-control" name="title" id="title" value="{{ request.args.get('title', "") }}" placeholder="{{form.title.description}}">
        </div>
        <div class="form-group">
            <label class="sr-only" for="author">Author</label>
            <input type="text" class="form-control" name="author" id="author" value="{{ request.args.get('author', "") }}" placeholder="{{form.author.description}}">
        </div>
        <button type="submit" class="btn btn-default">Filter</button>
    </form>
{% endif %}


<h1>New changes</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>No.</th>
            <th>Changeset</th>
            <th>Author</th>
            <th>Created</th>
            <th>Bookmarks</th>
            <th>Target Branches</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for r in revisions %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ r.title }}</td>
                <td>{{ r.author }}</td>
                <td>{{ r.date|datetime }}</td>
                <td>{{ r.bookmarks|sort|join("<br>")|nowrap|safe }}</td>
                <td>{{ r.targets|join("<br>")|nowrap|safe }}</td>
                <td>
                    <form method="post" action="{{ url_for("changes_new") }}">
                        <button class="btn btn-success btn-xs" type="submit"><span class="glyphicon glyphicon-play"></span> Start review</button>
                        <input type="hidden" name="action" value="start">
                        <input type="hidden" name="sha1" value="{{ r.node }}">
                    </form>
                    <form method="post" action="{{ url_for("changes_new") }}">
                        <button class="btn btn-danger btn-xs" type="submit"><span class="glyphicon glyphicon-trash"></span> Abandon</button>
                        <input type="hidden" name="action" value="abandon">
                        <input type="hidden" name="sha1" value="{{ r.node }}">
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tr>
        </tbody>
    </table>

    {% from "_helpers.html" import render_pagination %}
    {{ render_pagination(pagination) }}



{% endblock %}