{% extends "base.html" %}

{% block body %}


    {% include "messages.html" %}

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Review <b>{{ review.title }}</b></h3>
            </div>
            <div class="panel-body">
                <div><span class="col-lg-2 text-right">Title</span><span><b>{{ review.title }}</b></span></div>
                {% if review.owner == "None" %}
                    <div><span class="col-lg-2 text-right">Owner</span><span>{{ review.owner_mail }} (<a
                        href="mailto:{{ review.owner_email }}">{{ review.owner_email }}</a>)</span></div>
                {% else %}
                    <div><span class="col-lg-2 text-right">Owner</span><span>{{ review.owner }} (<a
                        href="mailto:{{ review.owner_email }}">{{ review.owner_email }}</a>)</span></div>
                {% endif %}
                
                <div><span class="col-lg-2 text-right">Created</span><span>{{ utc_to_local(review.created_date) }}</span></div>
                {% if review.close_date is not none %}
                    <div><span class="col-lg-2 text-right">Closed</span><span>{{ utc_to_local(review.close_date) }}</span></div>
                {% endif %}
                <div><span class="col-lg-2 text-right">Bookmark</span><span>{{ review.bookmark }} &nbsp;</span></div>
                <div><span class="col-lg-2 text-right">Status</span>
                    {% if review.status == "ACTIVE" %}
                        <span class="label label-success">
                    {% elif review.status == "MERGED" %}
                        <span class="label label-default">
                    {% elif review.status == "ABANDONED" %}
                        <span class="label label-danger">
                    {% else %}
                        <span class="label label-info">
                    {% endif %}
                    {{ review.status }}
                    </span>
                </div>
                <div><span class="col-lg-2 text-right">Inspection</span>
                    {% if review.inspection == None %}
                        <span class="label label-default">None</span>
                    {% elif review.inspection.status == "Completed" %}
                        <span class="label label-success">{{ review.inspection.status }}</span>
                    {% elif review.inspection.status == "SCHEDULED" or review.inspection.status == "NEW" %}
                        <span class="label label-default">{{ review.inspection.status }}</span>
                    {% else %}
                        <span class="label label-warning">{{ review.inspection.status }}</span>
                    {% endif %}
                </div>
                <div><span class="col-lg-2 text-right">Target branch</span><span>
                    {# TODO: If inspection scheduled, target cannot change #}
                    {# TODO: Target can change only for active reviews (not merged and not abandoned) #}
                    {% if review.targets|length > 1 %}
                    <form method="post" action="{{ url_for("review_set_target", review_id=review.id) }}">


                        <div class="form-group">
                            <div class="col-sm-2">
                                <select class="form-control" name="target">
                                    {% for target in review.targets %}
                                        <option {% if review.target == target.name %}selected{% endif %} value="{{ target.name }}">{{ target.name }}</option>
                                    {% endfor %}
                                </select>

                            </div>
                            <button class="btn btn-sm btn-info" type="submit"><span
                                    class="glyphicon glyphicon-save"></span>
                               Save
                            </button>
                        </div>
                    </form>
                    {% else %}
                        {{ review.target }}
                    {% endif %}
                </span></div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Changesets
                    <a class="btn btn-default btn-xs pull-right" href="{{ url_for('changes_refresh') }}">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </a>
                </h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <th>No.</th>
                        <th>Title</th>
                        <th>SHA1</th>
                        <th>Created</th>
                        <th>Status</th>
                        <th>Last build</th>
                    </thead>
                    <tbody>
                        {% if review.status != "ABANDONED" %}
                        {% for c in descendants %}
                        <tr>
                            <td></td>
                            <td>{{ c.title }}</td>
                            <td><code>{{ c.node }}</code></td>
                            <td>
                                <form method="post" action="{{ url_for("review_rework", review_id=review.id) }}">
                                    <input type="hidden" name="node" value="{{ c.node }}">
                                    <button type="submit" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus-sign"></span> Add as rework</button>
                                </form>
                            </td>
                            <td>
                                {# TODO: If inspection scheduled, cannot abandon changeset #}
                                {# TODO: Only active changeset or its descendant can be abandoned #}
                                <form method="post" action="{{ url_for("revision_abandon", node=c.node) }}">
                                    <button type="submit" class="btn btn-danger btn-sm confirmation-needed" data-question="Are you sure you want to ABANDON this changeset?"><span class="glyphicon glyphicon-trash"></span> Abandon</button>
                                </form>
                            </td>
                            <td></td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                        {% for c in review.changesets %}
                        <tr>
                            <td>{{ c.id }}</td>
                            <td><a href="{{ url_for("changeset_info", cs_id=c.id) }}">{{ c.title }}</a></td>
                            <td><a href="http://hg.genesyslab.com/hgweb.cgi/iwd8/rev/{{ c.sha1 }}"><code>{{ c.sha1 }}</code></a></td>
                            <td>{{ utc_to_local(c.created_date) }}</td>
                            <td>
                                {% if c.status == "ACTIVE" %}
                                    <span class="label label-success">
                                {% elif c.status == "ABANDONED" %}
                                    <span class="label label-danger">
                                {% else %}
                                    <span class="label label-info">
                                {% endif %}
                                {{ c.status }}
                                </span>
                            </td>
                            <td>{% if c.builds|length > 0 %}
                                    {% if c.builds[-1].status == "Running" %}
                                        <span class="label label-info">
                                    {% elif c.builds[-1].status == "SUCCESS" %}
                                        <span class="label label-success">
                                    {% elif c.builds[-1].status == "UNSTABLE" %}
                                        <span class="label label-warning">
                                    {% elif c.builds[-1].status == "FAILURE" %}
                                        <span class="label label-danger">
                                    {% else %}
                                        <span class="label label-default">
                                    {% endif %}
                                    {{ c.builds[-1].status }}
                                    </span>
                                {% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

<script>
$(function() {



});
</script>

{% endblock %}
